<div class="form">
  <h2>Add Entry</h2>
  <dl>
    <dt><label for="title">Title</label></dt>
    <dd>
      <input type="text" id="title" value="{{ title }}" />
    </dd>
  </dl>
  <input type="button" class="save" value="Save" />
  <a href="#" class="pageslide-close">Close</a>
</div>