@font-face {
  font-family: 'MelbourneBold';
  src: url('../type/melbourne_bold_basic-webfont.eot');
  src: url('../type/melbourne_bold_basic-webfont.eot?#iefix') format('embedded-opentype'), url('../type/melbourne_bold_basic-webfont.woff') format('woff'), url('../type/melbourne_bold_basic-webfont.ttf') format('truetype'), url('../type/melbourne_bold_basic-webfont.svg#MelbourneBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MelbourneLight';
  src: url('../type/melbourne_light_basic-webfont.eot');
  src: url('../type/melbourne_light_basic-webfont.eot?#iefix') format('embedded-opentype'), url('../type/melbourne_light_basic-webfont.woff') format('woff'), url('../type/melbourne_light_basic-webfont.ttf') format('truetype'), url('../type/melbourne_light_basic-webfont.svg#MelbourneLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MelbourneRegular';
  src: url('../type/melbourne_regular_basic-webfont.eot');
  src: url('../type/melbourne_regular_basic-webfont.eot?#iefix') format('embedded-opentype'), url('../type/melbourne_regular_basic-webfont.woff') format('woff'), url('../type/melbourne_regular_basic-webfont.ttf') format('truetype'), url('../type/melbourne_regular_basic-webfont.svg#MelbourneRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #282727;
  color: #fff;
  font-size: 14px;
  font-family: 'MelbourneRegular', Arial, sans-serif;
  overflow: hidden;
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
header, nav, time, footer {
  display: block;
}
#header {
  float: left;
  width: 25%;
  padding-bottom: 50px;
  position: relative;
}
#header h1 {
  font-family: 'MelbourneLight', Arial, sans-serif;
  font-size: 83px;
  text-align: center;
  margin-top: 20%;
}
#header h1 span {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
}
#login {
  top: 5px;
  right: 5px;
  position: absolute;
}
#category-summary {
  margin: 15%;
}
#main {
  float: left;
  width: 75%;
  position: relative;
}
#log {
  position: absolute;
  top: -1000px;
  left: 0;
  width: 100%;
  background: url(../img/ticks.png) 0 0 repeat-y transparent;
  padding: 1000px 0;
}
#log .entry {
  width: 94%;
  margin: 25px 0 0 6%;
  overflow: auto;
  cursor: pointer;
}
#log .entry.first {
  margin-top: 40px;
}
#log .entry .edit {
  float: right;
  display: none;
  color: #efefef;
}
#log .entry:hover .edit {
  display: block;
}
#log .entry .edit:hover {
  color: orange;
}
#log .entry time {
  float: left;
  width: 20%;
  margin-right: 10%;
  font-size: 18px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 8px;
}
#log .entry time span {
  font-size: 18px;
  margin-right: 2%;
}
#log .entry.first time {
  font-size: 52px;
}
#log .entry.first time span {
  display: block;
}
#log .entry section {
  float: left;
  width: 70%;
}
#log .entry.comp h2 {
  color: purple;
}
#log .entry.prob h2 {
  color: greenyellow;
}
#log .entry.engin h2 {
  color: orange;
}
#log .entry.collab h2 {
  color: yellow;
}
#log .entry section p {
  font-size: 16px;
  width: 60%;
}
.entry ul {
  list-style: square inside;
}
.entry li {
  margin: 5px 0 0 0;
}
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer nav li {
  display: block;
  float: left;
  width: 25%;
  height: 75px;
  text-align: center;
}
#footer nav li a {
  height: 75px;
  line-height: 75px;
  font-size: 20px;
  display: block;
  width: 90%;
  color: #000;
  text-transform: uppercase;
  padding: 0 5% 0 5%;
}
#footer nav li.active a {
  font-weight: bold;
  text-shadow: 0px 2px 3px #ede8ed;
  filter: dropshadow(color=#ede8ed, offx=3, offy=3);
}
#footer nav a.comp {
  background: purple;
}
#footer nav a.prob {
  background: greenyellow;
}
#footer nav a.engin  {
  background: orange;
}
#footer nav a.collab  {
  background: yellow;
}