@font-face {
  font-family: 'MelbourneBold';
  src: url('../type/melbourne_bold_basic-webfont.eot');
  src: url('../type/melbourne_bold_basic-webfont.eot?#iefix') format('embedded-opentype'), url('../type/melbourne_bold_basic-webfont.woff') format('woff'), url('../type/melbourne_bold_basic-webfont.ttf') format('truetype'), url('../type/melbourne_bold_basic-webfont.svg#MelbourneBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MelbourneLight';
  src: url('../type/melbourne_light_basic-webfont.eot');
  src: url('../type/melbourne_light_basic-webfont.eot?#iefix') format('embedded-opentype'), url('../type/melbourne_light_basic-webfont.woff') format('woff'), url('../type/melbourne_light_basic-webfont.ttf') format('truetype'), url('../type/melbourne_light_basic-webfont.svg#MelbourneLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MelbourneRegular';
  src: url('../type/melbourne_regular_basic-webfont.eot');
  src: url('../type/melbourne_regular_basic-webfont.eot?#iefix') format('embedded-opentype'), url('../type/melbourne_regular_basic-webfont.woff') format('woff'), url('../type/melbourne_regular_basic-webfont.ttf') format('truetype'), url('../type/melbourne_regular_basic-webfont.svg#MelbourneRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #282727;
  color: #fff;
  font-size: 14px;
  font-family: 'MelbourneRegular', Arial, sans-serif;
  overflow: hidden;
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
header, nav, time, footer {
  display: block;
}
#header {
  float: left;
  width: 25%;
  padding-bottom: 50px;
}
#header h1 {
  font-family: 'MelbourneLight', Arial, sans-serif;
  font-size: 83px;
  text-align: center;
  margin-top: 20%;
}
#header h1 span {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
}
#header nav ul {
  margin-top: 30%;
  position: relative;
  overflow: auto;
}
#header nav li {
  position: absolute;
}
#header nav li.arrow {
  font-size: 30px;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
#header nav li#prev {
  top: 0;
  right: 30%;
}
#header nav li#now {
  top: 10%;
  right: 10%;
}
#header nav li#next {
  top: 20%;
  right: 30%;
}
#header nav li a {
  text-transform: uppercase;
}
#main {
  float: left;
  width: 75%;
  position: relative;
}
#log {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#log li {
  width: 100%;
  margin-top: 25px;
  overflow: auto;
}
#log li.first {
  margin-top: 40px;
}
#log li time {
  float: left;
  width: 20%;
  margin-right: 10%;
  font-size: 18px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 8px;
}
#log li time span {
  font-size: 18px;
  margin-right: 2%;
}
#log li.first time {
  font-size: 52px;
}
#log li.first time span {
  display: block;
}
#log li section {
  float: left;
  width: 70%;
}
#log li.comp h2 {
  color: purple;
}
#log li.prob h2 {
  color: greenyellow;
}
#log li.engin h2 {
  color: orange;
}
#log li.collab h2 {
  color: yellow;
}
#log li section p {
  font-size: 16px;
  width: 60%;
}
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer nav li {
  display: block;
  float: left;
  width: 25%;
  height: 75px;
  text-align: center;
}
#footer nav li a {
  height: 75px;
  line-height: 75px;
  font-size: 20px;
  display: block;
  color: #000;
  text-transform: uppercase;
  padding: 0 5% 0 5%;
}
#footer nav li.comp {
  background: purple;
}
#footer nav li.prob {
  background: greenyellow;
}
#footer nav li.engin  {
  background: orange;
}
#footer nav li.collab  {
  background: yellow;
}